# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
env/
.venv/

# Dev files
.env
notebooks/
tests/
.pytest_cache/
mlruns/

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
